body{
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}
#page-banner{
    background: #eee ;
    padding: 10px 0;

  }

  #page-banner h1, #page-banner p, #page-banner form{
      width: 100%;
      text-align: center;
      margin: 10px 0;
  }
  #page-banner input{
      width: 90%;
      max-width: 300px;
      margin: 20px auto;
      display: block;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
      color: #444;
  }

  input.submit:hover{
    background-color:#90c9e5;
  }

  #todo-container{
      margin: 30px;
  }

  #todo-container ul{
      list-style-type: none;
      padding: 0;
  }
  #todo-container li{
      padding: 20px;
      border-left: 5px solid #ddd;
      margin: 20px 10px;
      font-size: 20px ;
  }

  #todo-container li:hover{
      border-color: #90c9e5;
  }



  .delete, .mark{
      float: right;
      background: #90c9e5;
      padding: 6px;
      border-radius: 4px;
      cursor: pointer;
      color: rgb(10, 25, 40);
      border-radius: 5px;
      width: 100px;
      padding: 10px;
      margin-left: 10px;
      border: 1px solid #90c9e5;
      font-size: 18px ;
      font-weight: bold;
  }


  .delete:hover{
      background: #e04b35;
  }
  .mark:hover{
      background: #999;
  }
  .todo-checked{
    text-decoration: line-through;
  }
